﻿@model HRandPayrollSystemModel.DBModel.ProjectActivityLog

@{
    ViewBag.Title = "Support and Services Monitoring ";
}


@using (@Html.BeginForm("Save", "ActivityLog", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.Idlog > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = "Support and Services Monitoring View";
        }
        else
        {
            ViewBag.Title = "Support and Services Monitoring Edit";
        }

    }
    else
    {

        ViewBag.Title = " Support and Services Monitoring Create";

    }

    <header class="page-header">
        <h2>@ViewBag.Title</h2>
       

        <div class="right-wrapper pull-right">

            <ol class="breadcrumbs">


                <li>
                    <a href="~/home/index">
                        <i class="fa fa-home" style="color:chartreuse;"></i>

                    </a>
                </li>
                <li>
                    <a style="color:chartreuse" href="/Eminute//create">
                        Create E-Minute      @*<i class="fa fa-home"></i>*@
                    </a>
                </li>
                <li>
                    <a style="color:chartreuse" href="/Eminute//AllMinutesReport">
                        Report      @*<i class="fa fa-home"></i>*@
                    </a>
                </li>
                <li>
                    <a href="#" onclick="showInstruction()" style="color: chartreuse;">
                        <i class="fa fa-info-circle"></i>      E-Minute Guideline
                    </a>
                </li>



            </ol>

            @*<ol class="breadcrumbs">
                <li>
                    <a href="~/home/index">

                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>Service Log Info</span></li>
            </ol>*@

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->

   
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Idlog)

                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title"> @ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for input @ViewBag.Title .
                        </p>
                    </header>
                    <div class="panel-body">

                     <br />
                        <div class="form-group">






                            <div class="row">



                                <label class="col-sm-1 control-label"><strong> Project:</strong> </label>
                                <div class="col-md-3 ">

                                    @Html.DropDownListFor(model => model.ProjectIDs, new HRandPayrollSystemModel.DBModel.tblEmployee().loadProject(), new { @class = "form-control selectpicker ", @required = "required", })




                                    @*<select class="selectpicker form-control" id="ProjectIDs" name="ProjectIDs">
                                        @{
                                            var getdropdown = new HRandPayrollSystemModel.DBModel.tblEmployee().loadProject();
                                            foreach (var item in getdropdown)
                                            {
                                                <option value="@item.Value"> @item.Text </option>
                                            }

                                        }
                                    </select>*@

                                </div>



                                <label class="col-sm-1 control-label"><strong>Service Type:</strong> </label>
                                <div class="col-md-3 ">


                                    @Html.DropDownListFor(model => model.ServiceTypeID, Model.LoadSericeTypes(), new { @class = "form-control selectpicker ", @required = "required", })




                                    @*<select class="selectpicker form-control" id="ServiceTypeID" name="ServiceTypeID">
                                        @{
                                            var oi = new HRandPayrollSystemModel.DBModel.ProjectActivityLog().LoadSericeTypes();
                                            foreach (var item in oi)
                                            {
                                                <option value="@item.Value"> @item.Text </option>
                                            }

                                        }
                                    </select>*@

                                </div>




                            </div>
                            <br />


                            <div class="row">
                                @if (Model.Idlog > 0)
                                {
                                <label class="col-sm-1 control-label"><strong>Resolved Employee:</strong> </label>


                                <div class="col-md-3">


                                    @Html.DropDownListFor(model => model.Employeeid, Model.loadEmployee(), new { @class = "form-control selectpicker ", @required = "required", })




                                    @*<select class="selectpicker form-control" id="Employeeid" name="Employeeid">
                                        @{
                                            var Employee = new HRandPayrollSystemModel.DBModel.GLUser().loadAllActiveEmployee();
                                            foreach (var item in Employee)
                                            {
                                                <option value="@item.Value"> @item.Text </option>
                                            }

                                        }
                                    </select>*@


                                </div>
                                            }

                                <label class="col-sm-1 control-label"><strong>Status:</strong> </label>


                                <div class="col-md-3">

                                    @Html.DropDownListFor(model => model.ServiceActive, Model.loadAllActive(), new { @class = "form-control selectpicker ", @required = "required", })

                                    
                                    
                                    @*<select class="form-control selectpicker" data-style="btn-warning" id="ServiceActive" name="ServiceActive" style="font-size: large;padding: 1px;">




                                        <option value="Active" name="">Active</option>
                                        <option value="Inactive" name="">Inactive</option>



                                    </select>*@



                                </div>

                            </div>
                            <br />
                            <br />



                        </div>


                        </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>

    $(document).ready(function () {
        var DateofP = '01' + '/' + new Date().getMonth() + '/' + new Date().getFullYear();

        $('#FromDate').datepicker('setDate', DateofP);
        $("#ToDate").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });
        $('#FromDate').datepicker('setDate', new Date());
        $('#ToDate').datepicker('setDate', new Date());


    })






    function postform() {
        debugger;
        var ReturnValue = true



        var ReturnValue = true

        if ($("#ProjectIDs").val() == "0") {
            $('#ProjectIDs').selectpicker('setStyle', 'btn-danger');
            $('#ProjectIDs').selectpicker('refresh');

            ReturnValue = false;
        }


        if ($("#ServiceTypeID").val() == "0") {
            $('#ServiceTypeID').selectpicker('setStyle', 'btn-danger');
            $('#ServiceTypeID').selectpicker('refresh');

            ReturnValue = false;
        }



        $("#myform").validate();





        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()




        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }
      

    });

    function loadDepartments() {

        var Department = $('#DepartmentID');
        Department.empty();
        var Data = { id: $('#ProjectID').val() }
        $.ajax({
            async: false,
            url: "/Designation/loadDepartments",
            data: Data,
            success: function (data) {


                var Department = $('#DepartmentID');
                Department.empty();

               // alert(data);
                $.each(data,
                    function (index, item) {
                        var datafil = new Option(item.Text, item.Value);
                        Department.append(datafil);
                    });


                Department.selectpicker({
                    liveSearch: true,
                    size: 10,

                    // width: 'auto',
                    container: "body"
                });

                Department.selectpicker('refresh');


            },
            error: function () {
                ReturnValue = false;
                //alert("Error")
            }
        })

    }



</script>



