﻿@model HRandPayrollSystemModel.DBModel.ProjectActivityLog

@{
    ViewBag.Title = "Support and Services Monitoring";
}


<div id="modals"></div>

<header class="page-header">
    <h2>@ViewBag.Title</h2>

    <div class="right-wrapper pull-right">
      
        
        <ol class="breadcrumbs">


            <li>
                <a href="~/home/index">
                    <i class="fa fa-home" style="color:chartreuse;"></i>

                </a>
            </li>
            <li>
                <a style="color:chartreuse" href="/Eminute//create">
                    Create E-Minute      @*<i class="fa fa-home"></i>*@
                </a>
            </li>
            <li>
                <a style="color:chartreuse" href="/Eminute//AllMinutesReport">
                    Report      @*<i class="fa fa-home"></i>*@
                </a>
            </li>
            <li>
                <a href="#" onclick="showInstruction()" style="color: chartreuse;">
                    <i class="fa fa-info-circle"></i>      E-Minute Guideline
                </a>
            </li>



        </ol>
        
        
   
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">All @ViewBag.Title Data</h2>
    </header>
    <div class="panel-body">
        
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    @if (Model.IsNew)
                    {
                        <button type="button" id="Add" onclick="add()" class="btn btn-primary"> <i class="fa fa-plus"></i> Add New</button>
                        @* <button type="button" id="cancelll" onclick="window.history.back()" class="btn btn-primary">Cancel</button>*@
                    }

                </div>
            </div>
        </div>

        <table class="table table-bordered  mb-none table-hover" id="UserTable">
            <thead>
                <tr class="primary">

                    <th>Sr#</th>
                    <th>Service Name</th>
                    <th>Location </th>
                    <th>Reported By </th>
                    <th>Resolved By </th>
                    <th>Elapsed Time </th>

                    <th>Status</th>
                    @*<th>Reported Date</th>
        <th>Resolved Date</th>*@

                    <th width="30px">Actions</th>
                </tr>
            </thead>

            <tbody id="ProductTableID">
                @{int a=1; }
                @foreach (var item in Model.getalldata())
                {
                <tr>
                    <td>@a </td>
                    <td> @item.ServiceDetail.ToUpper()
                    <td> @item.ProjectName.ToUpper() </td>
                    <td> @item.reslovedemployee    @item.CreatedOn.Value.ToString("dd/MM/yyyy") -  @string.Format("{0:hh:mm:ss tt}", item.CreatedOn)  </td>
                    <td> @item.EmployeeName   @string.Format("{0:dd/MM/yyyy}", item.Modifeddate)  -  @string.Format("{0:hh:mm:ss tt}", item.Modifeddate)   </td>

                    <td align="center">  <strong>@item.hourss hr</strong>   </td>

                    @if (@item.ServiceActive.ToUpper() == "ACTIVE")
                    {
                        <td align="center">  <button type="button" class="btn btn-success btn-xs"> ACTIVE</button> </td>

                    }
                    else
                    {
                        <td align="center">  <button type="button" class="btn btn-danger  btn-xs"> INACTIVE</button> </td>
                    }


                    @*<td>  @item.CreatedOn.Value.ToString("dd/MM/yyyy") -  @string.Format("{0:hh:mm:ss tt}", item.CreatedOn) </td>
        <td>  @string.Format("{0:dd/MM/yyyy}", item.Modifeddate)  -  @string.Format("{0:hh:mm:ss tt}", item.Modifeddate)    </td>*@


                    @*<td> @item.Modifeddate </td>
        <td> @item.Modifedyid </td>*@


                    <td>
                        @if (Convert.ToBoolean(Model.Isedit))
                        {

                            <a href="#basicEdit" class="on-default edit-row mb-xs mt-xs mr-xs modal-with-zoom-anim" title="Edit" onclick="Edit(@item.Idlog)">
                                <i class="fa fa-pencil"></i>

                            </a>
                        }

                        <a href="#" class="on-default edit-row" title="View" onclick="view(@item.Idlog)">
                            <i class="fa fa-table"></i>

                        </a>
                    </td>

                </tr>
                    a++;
                }
            </tbody>

        </table>
    </div>

</section>


<script>

    $(document).ready(function () {
        //$('#btnTriggerEdit').click();
        $("#modals").load('/CustomClasses/IndexModaling.html')


            $("#UserTable").dataTable(
               {
                    "aoColumns": [{ "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true },{ "bSearchable": true }, { "bSearchable": true }, { "bSearchable": true },{ "bSearchable": true },
                       { "bSearchable": false }],
                   "bSort": true,

                   dom: 'Bfrtip',
                   buttons: [
                              {
                                  extend: 'copy',
                                  text: '<span class="glyphicon glyphicon-floppy-disk"></span><span><strong> Copy</strong></span>',
                                  className: 'btn btn-primary  btn-sm',
                           title: 'Support and Services Monitoring',
                                  exportOptions: {
                                      columns: ':visible'
                                  }

                              },

                            {
                                extend: 'pdf',
                                text: '  <span class="glyphicon glyphicon-file"></span><span> PDF</strong></span>',
                                className: 'btn btn-primary  btn-sm',
                                title: 'Support and Services Monitoring',
                                orientation: 'portrait',
                                pageSize: 'A4',
                                exportOptions: {
                                    columns: ':visible'
                                },

                                customize: function (doc) {

                                    doc.styles.title = {
                                        color: 'red',
                                        fontSize: '40',
                                        // background: 'blue',
                                        alignment: 'center'
                                    }
                                },



                            },

                             {

                                 title: 'Support and Services Monitoring',
                                 text: '<span class="glyphicon glyphicon-th"></span><span><strong> Excel</strong></span>',
                                 className: 'btn btn-primary  btn-sm',
                                 orientation: 'portrait',
                                 pageSize: 'A4',
                                 extend: 'excel',
                                 footer: true,
                                 exportOptions: {
                                     columns: ':visible'
                                 }
                             },


                           {
                               extend: 'csv',

                               title: 'Support and Services Monitoring',
                               text: '<span class="	glyphicon glyphicon-list-alt"></span><span><strong> CSV</strong></span>',
                               className: 'btn btn-primary  btn-sm',
                               exportOptions: {
                                   columns: ':visible'
                               }

                           },
                         {
                             extend: 'print',
                             title: 'Support and Services Monitoring',
                             text: '<span class="glyphicon glyphicon-print"></span><span><strong> Print</strong></span>',
                             className: 'btn btn-primary  btn-sm',

                             exportOptions: { columns: ':visible' }

                         },
                         {

                             extend: 'colvis',
                             text: '<span class="glyphicon glyphicon-blackboard"></span><span><strong> Column visibility</strong></span>',
                             className: 'btn btn-primary  btn-sm',

                             //  'colvis'
                         }

                   ],
                   columnDefs: [{ targets: -1, visible: true }]
                   //paging: false
               })
            var a = '@TempData["Dependancy"]'
            if (a != "") {
                $("#basicDendent").modal('show');
            }
        })

        function add() {
            window.location.href = "/ActivityLog/create/"
        }

        var EditID = 0;
        var DeleteID = 0;
        function confirmPopupEdit()
        {
            window.location.href = "/ActivityLog/Edit/" + EditID + "|1"
        }

        function Edit(id) {
            EditID=id
        }

        function confirmPopupDelete() {
            window.location.href = "/ActivityLog/delete/" + DeleteID

        }
        function Del(id) {
            DeleteID = id
        }

        function view(id) {
            window.location.href = "/ActivityLog/Edit/" + id + "|0"

        }

</script>






