﻿@model HRandPayrollSystemModel.DBModel.tblDesignation

@{
    ViewBag.Title = "Designation Information ";
}


@using (@Html.BeginForm("Save", "Designation", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    if (Model.DesignationID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = "Designation Info View";
        }
        else
        {
            ViewBag.Title = "Designation Info Edit";
        }

    }
    else
    {

        ViewBag.Title = " Designation Info Create";

    }

    <header class="page-header">
        <h2>@ViewBag.Title</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/home/index">

                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>Designation Info</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">


                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">Designation Info</h2>
                        <p class="panel-subtitle">
                            Form control for input Designation data .
                        </p>
                    </header>
                    <div class="panel-body">



                        @Html.HiddenFor(model => model.DesignationID)
                        @*<div class="form-group">
                            <label class="col-sm-2 control-label">Project <span class="required">*</span></label>
                            <div class="col-sm-9 ">

                                @Html.DropDownListFor(model => model.ProjectID, Model.LoadProjects(), "Select Project", new { @class = "form-control selectpicker", required = "required", @onchange = "loadDepartments()" })

                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Department <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                               

                                    @Html.DropDownListFor(model => model.DepartmentID, Model.LoadDepartment(Convert.ToInt32("0" + new SAGERPNEW2018.Models.SystemLogin().GetUser().ProjectIDs)), "Select Department", new { @class = "form-control selectpicker", required = "required" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Designation Title <span class="required">*</span></label>
                            <div class="col-sm-9 ">
                                @Html.TextBoxFor(model => model.DesignationTitle, new { @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Title" })

                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-2 control-label">Designation Code<span class="required">*</span></label>
                            <div class="col-sm-3 ">
                               
                                @Html.TextBoxFor(model => model.DesignationCode, new {  @readonly= "readonly", @class = "form-control uneditable-input ", required = "required", @placeholder = "Enter Code NO" })

                            </div>
                            <label class="col-sm-2 control-label">Order No<span class="required">*</span></label>
                            <div class="col-sm-3 ">
                                @Html.TextBoxFor(model => model.OrderNO, new { @class = "form-control uneditable-input ", type = "Number", required = "required", @placeholder = "Enter Order NO" })

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            
                            <div class="col-sm-2 ">
                                <label class="control-label" for="inactive">InActive</label>
                                @Html.CheckBoxFor(model => model.inactive)
                

                            </div>


                            <div class="col-sm-2 ">
                                <label class="control-label" for="IsCancel">Cancel</label>

                                @Html.CheckBoxFor(model => model.IsCancel)
                         

                            </div>

                            <div class="col-sm-2 ">
                                <label class="control-label" for="IsComplete">Complete</label>

                                @Html.CheckBoxFor(model => model.IsComplete)
                            

                            </div>
                            <div class="col-sm-2 ">
                                <label class="control-label" for="IsDepartment">Department</label>

                                @Html.CheckBoxFor(model => model.IsDepartment)
                             

                            </div>

                            <div class="col-sm-2 ">
                                <label class="control-label" for="IsApprove">IsApprove</label>

                                @Html.CheckBoxFor(model => model.IsApprove)


                            </div>
                        </div>





                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>




    function postform() {
        debugger;
        var ReturnValue = true

        $("#myform").validate();



        var Data = { Name: $('#DesignationTitle').val(), ID: $("#DesignationID").val(), dept: $("#DepartmentID").val() }
        $.ajax({
            async: false,
            url: "/Designation/Duplicate",
            data: Data,
            success: function (data) {

                var c =JSON.parse(data);
                if (c!="") {
                    bootbox.alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                bootbox.alert("Error")
            }
        })
        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()

        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }
        //loadDepartments();
        
        //$('#DepartmentID').val('@Model.DepID').selectpicker('refresh');
       
    });

    function loadDepartments() {

        var Department = $('#DepartmentID');
        Department.empty();
        var Data = { id: $('#ProjectID').val() }
        $.ajax({
            async: false,
            url: "/Designation/loadDepartments",
            data: Data,
            success: function (data) {


                var Department = $('#DepartmentID');
                Department.empty();

               // alert(data);
                $.each(data,
                    function (index, item) {
                        var datafil = new Option(item.Text, item.Value);
                        Department.append(datafil);
                    });


                Department.selectpicker({
                    liveSearch: true,
                    size: 10,

                    // width: 'auto',
                    container: "body"
                });

                Department.selectpicker('refresh');


            },
            error: function () {
                ReturnValue = false;
                //alert("Error")
            }
        })

    }



</script>



