﻿
@model SAGERPNEW2018.Models.Loginform
@{

    Layout = null;

}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="Alshifa Trust Eye Hospital" />
    <meta name="description" content="IT Department">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="/AppFiles/Images/logo2.png" type="image/x-icon">
    <link rel="icon" href="/AppFiles/Images/logo2.png" type="image/x-icon"> 
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
    <link rel="stylesheet" href="/assets/vendor/select2/select2.css" />


    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme.css" />
   @* <script src="/Scripts/bootbox.min.js"></script>*@
    @*<script src="/Scripts/bootbox.js"></script>*@
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="/assets/vendor/modernizr/modernizr.js"></script>

</head> 
@*background-image: url('../../assets/images/Six-3-PS.jpg');*@
<body style="background-position: center;  background-repeat: no-repeat;  background-size: cover;  position: relative;"  >





    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width:902px;margin-left:-143px;">
                <div class="modal-header " style="background:#820606;">
                    <button type="button" class="close" style="opacity: 1;" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title" style="color:white">  Important Points for Users </h4>
                </div>
                <div class="modal-body">


                    <table align="center" width="90%" border="0" class="txt_con">
                        <tr>
                            <td colspan="2">
                                <h1>Important Points For Computer User(s)</h1>
                            </td>
                        </tr>



                        <tr>
                            <td>
                                <fieldset>
                                    <legend>01</legend>
                                    Network account (Login/User Name and password) is the sole property/responsibility of that particular user to whom it was issued (just like your bank account). For the safety / security of your transaction(s), it is requested not to share your password with anyone and try to change it periodically. While leaving the organization it is the duty of individual and the relevant authorities to inform IT department for locking up his/her account.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>02</legend>
                                    Network account is not case sensitive, so don’t worry about the upper or lowercase letters.
                                </fieldset>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <fieldset>
                                    <legend>03</legend>
                                    Contact your local “Support Staff” for immediate remedy.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>04</legend>
                                    If problem persists after complaining to your local &ldquo;Support Staff&rdquo; more than thrice. Please adopt following ways to resolve your problem:
                                    <ol type="a">
                                        <li>Contact &ldquo;System Admin&rdquo; AST headquarters on 051-5487821 ext. 356 or email at </strong><a href="mailto:systemadmin@alshifaeye.org"> <strong> systemadmin@alshifaeye.org</strong></a></li>
                                        <li>Contact &ldquo;GM IT&rdquo; on 051-5487821 ext. 356 / 357  or email at </strong> <a href="mailto:gmit@alshifaeye.org"><strong> gmit@alshifaeye.org</strong></a></li>
                                        <li>Use &ldquo;E-Minute Sheet software&rdquo; to forward your problem(s).</li>
                                    </ol>
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>05</legend>
                                    IT department is solely authorized /responsible to deal with IT related issues. Please do not involve non-technical staff in handling IT related hard ware/ soft ware matters. Strict action will be taken against one who found involved in said issues.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>06</legend>
                                    Please avoid aimless internet surfing and unnecessary downloading. This will increase traffic on LAN (Local Area Network), which results in choking of network bandwidth and slows down the network speed.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>07</legend>
                                    Do your computer entries properly and with responsibility because the next department is dependent on your input (computer entry). Incomplete transactions or not entering data will lead towards creating problem(s) for relevant department(s), patient(s) and for you also.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>08</legend>
                                    Properly switch off, your computer and related devices while leaving your office.
                                </fieldset>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <fieldset>
                                    <legend>09</legend>
                                    Resources/Facilities given to you are fidelity of the Trust, now it is your responsibility to use them carefully.
                                </fieldset>
                            </td>
                        </tr>


                    </table>





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>



   





    @using (@Html.BeginForm("CheckLogin", "Home", FormMethod.Post, new
    {
        @id = "Myform"
    }))
    {
        <section class="body-sign">
            <div class="center-sign">
                @*<img src="~/AppFiles/Images/logo2.png" class="img-circle"  width="100" height="100" alt="SAG ERP" />*@
              @*  <span class="navbar-brand" style="float: right;color:initial">  <strong>The Sixth Boulevard</strong></span>*@
                @*<a href="#" class="logo pull-left">
                    <img src="/assets/images/ERPlogo.png" height="100" alt="SAG ERP" />
                    <img src="/AppFiles/soft-logo-300-1326.png" class="img-circle"   width="65" height="65"alt="SAG ERP" />
                    <span class="navbar-brand" style="float: right;color:initial">  <strong>The Sixth Boulevard</strong></span>

                </a>*@

                <div class="panel panel-sign">
                    <div class="panel-title-sign mt-xl text-right">
                       @* <h2 class=""><i class="fa fa-user mr-xs"></i> Sign In</h2>*@
                    </div>
                    <div class="panel-body " style="">
                        <form action="index.html" method="post">

                            <div class="form-group mb-lg">

                                <div class="col-md-3">
                                    <img src="~/AppFiles/Images/logo2.png" class="img-circle" style="float:right" width="100" height="100" alt="SAG ERP" />

                                </div>
                                <div class="col-md-9 navbar-brand" >
                                    <span  style="float: right;color:initial;">
                                        <strong style="color: #137324;font-size:larger;">Al-Shifa Trust Eye Hospital</strong><br />
                                        <strong style="color: #137324;font-size:small;">Jhelum Road, Rawalpindi</strong>

                                    </span>
                                </div>
                               
                            </div>



                            <div class="form-group mb-lg">
                                <label>User Name</label>
                                <div class="input-group input-group-icon">
                                    @*<input name="username" type="text" class="form-control input-lg" />*@
                                    @Html.TextBoxFor(model => model.Username, new { @placeholder = "User Name", @autofocus = "autofocus", @class = "form-control input-lg ", @required = "required" })


                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">Password</label>
                                  
                                </div>
                                <div class="input-group input-group-icon">
                                    @*<input name="pwd" type="password" class="form-control input-lg" />*@
                                    @Html.TextBoxFor(model => model.Password, new { @placeholder = "User Password", @class = "form-control input-lg ", @type = "password", @required = "required" })

                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            @*<div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">AST Center</label>

                                </div>
                                <div class="input-group input-group-icon">
                                  
                                    @Html.DropDownListFor(model => model.ProjectID, new HRandPayrollSystemModel.DBModel.tblEmployee().loadProject(),   new {  @class = "selectpicker form-control ", @required = "required" })
                                
                                </div>
                            </div>*@


                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="RememberMe" name="rememberme" type="checkbox" />
                                        <label for="RememberMe">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="button" onclick="postform()" class="btn btn-primary hidden-xs">Sign In</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign In</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
              
                <p class="text-center text-muted mt-md mb-md"> 
                
                    <a href="#"  data-toggle="tooltip" title="Important Points for Users"  onclick="showInstruction()" style="color:#0088cc;">
                         <i class="fa fa-info-circle"> </i>      Important Points for Users 
                    </a>
                
                &copy; Copyright 2020 <a href="https://www.alshifaeye.org/">Powered by IT Department Al-Shifa Trust </a>. <br />All Rights Reserved.</p>
               @* <p class="text-center text-muted mt-md mb-md">Contact:0310-5511087,0322-5053223</p>*@

            </div>
        </section>

    }

    

    <!-- Vendor -->
    <script src="/assets/vendor/jquery/jquery.js"></script>
    <script src="/Scripts/bootbox.min.js"></script>
    <script src="/assets/vendor/select2/select2.js"></script>
    <script src="/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/javascripts/theme.init.js"></script>

    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="/assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="/assets/javascripts/forms/examples.validation.js"></script>
    <script>

        $(document).ready(function () {
     
            $('.selectpicker').selectpicker({
                liveSearch: true,
                container: "body"
            });
            $('.selectpicker').selectpicker('refresh');
            var ttt = '@TempData["LoginFailed"]'

            if (ttt != "") {
                bootbox.alert(ttt)
            }
        })
    
        function postform() {

            var ReturnValue = true

            //if ($("#ProjectID").val() == "0") {
            //    $('#ProjectID').selectpicker('setStyle', 'btn-danger');
            //    $('#ProjectID').selectpicker('refresh');

            //    ReturnValue = false;
            //}
        
            $("#Myform").validate();


      
            if (ReturnValue) {
                $("#Myform").submit();

            }

        }




        function showInstruction() {


            $('#myModal').modal();
        }
    </script>

    </body>


</html>
   