﻿@model HRandPayrollSystemModel.DBModel.tblEminuteInfo

@{
    ViewBag.Title = "E-complaint";
}

@using (@Html.BeginForm("Save", "EComplain", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    <input type="hidden" id="DocDetailRowNo" />
    if (Model.MinuteID > 0)
    {
        if (Model.IsView)
        {
            ViewBag.Title = ViewBag.Title + " View";
        }
        else
        {
            ViewBag.Title = ViewBag.Title + " View";
        }

    }
    else
    {

        ViewBag.Title = ViewBag.Title + " Create";

    }

    <header class="page-header">
        <h2>@ViewBag.Title</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/home/index">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Setup</span></li>
                <li><span>@ViewBag.Title</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    @Html.HiddenFor(model => model.MinuteID)

    <div class="panel">
        <!-- start: page -->
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">EmployeeType Info</h2>
                        <p class="panel-subtitle">
                            Form control for input EmployeeType data .
                        </p>
                    </header>
                    <div class="panel-body">
                        <div class="tabs tabs-primary">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#ItemsInfo" data-toggle="tab"><i class="fa fa-user"></i> complaint Sheet</a>
                                </li>
                                <li>
                                    <a href="#ItemsMinuteDoc" data-toggle="tab"><i class="fa fa-building-o"></i> Attach File  <span class="badge badge-light"> @ViewData["NumberAttachment"] </span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="ItemsInfo" class="tab-pane active ">
                                    <br />
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">complaint No : </label>
                                        <div class="col-sm-2 ">
                                            @Html.TextBoxFor(model => model.MinuteCode, new { @class = "form-control uneditable-input ", required = "required", @readonly = "readonly" })
                                        </div>
                                        <label class="col-sm-3 control-label"> </label>
                                        <label class="col-sm-1 control-label">Location:</label>
                                        <div class="col-sm-3 ">
                                            @Html.TextBoxFor(model => model.LocationProject, new { @class = "form-control uneditable-input ", required = "required", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Initiating Department: </label>
                                        <div class="col-sm-4 ">
                                            @Html.TextBoxFor(model => model.InitiatedDepartment, new { @class = "form-control uneditable-input ", required = "required", @readonly = "readonly" })
                                        </div>
                                        <label class="col-sm-1 control-label"> </label>
                                        <label class="col-sm-1 control-label">Date : </label>
                                        <div class="col-sm-3 ">
                                            @Html.TextBoxFor(model => model.MinuteDate, new { @class = "form-control uneditable-input ", required = "required", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Initiating by: </label>
                                        <div class="col-sm-4 ">
                                            @Html.TextBoxFor(model => model.Initiatedby, new { @class = "form-control uneditable-input ", required = "required", @readonly = "readonly" })
                                        </div>
                                        <label class="col-sm-1 control-label"> </label>
                                        <label class="col-sm-1 control-label">Priority: </label>
                                        <div class="col-sm-3 ">
                                            @Html.DropDownListFor(model => model.Priority, Model.LoadPriority(), new { @class = "form-control selectpicker " })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Item: </label>
                                        <div class="col-sm-4 ">
                                            @Html.DropDownListFor(model => model.Type, Model.LoadFixedAssitItem(), new { @class = "form-control selectpicker " })
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Subject: </label>
                                        <div class="col-sm-9 ">
                                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control  ", required = "required" })
                                        </div>
                                    </div>
                                 
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Details: </label>
                                        <div class="col-sm-9 ">
                                            <label class=""><span class="required">Short Keys: ( Select All = Ctrl+A )  ( Copy = Ctrl+C )       ( Cut = Ctrl+X )        ( Paste = Ctrl+V )</span> </label>
                                            @Html.TextAreaFor(model => model.HtmlBox, new { @id = "HtmlBox", @name = "HtmlBox", @class = "form-control uneditable-input " })
                                        </div>
                                    </div>
                                    @{
                                        var obj = new HRandPayrollSystemModel.DBModel.tblEminuteInfo().LoadEmployeeInfo(new SAGERPNEW2018.Models.SystemLogin().GetUser().EmployeeID);
                                        if (Convert.ToBoolean(ViewData["Editmode"]))
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Comments by: </label>
                                                <div class="col-sm-9 ">
                                                    <label class=""><span class="required">@obj.DepartmentName - @obj.Initiatedby</span> </label>
                                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control  ", required = "required" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Status: </label>
                                                @{

                                                    if (Model.IsApprove)
                                                    {<div class="col-sm-2" style="display:none">
                                                    <input type="checkbox" id="IsApprovec" onchange="checkvalue()" name="IsApprovec" />
                                                    <label class="control-label" for="chIsApprove">Approve</label>
                                                </div>
                                                    }

                                                    if (Model.IsCancel)
                                                    {
                                                        <div class="col-sm-2">
                                                            <input type="checkbox" id="IsCancelc" onchange="checkvalue()" name="IsCancelc" />
                                                            <label class="control-label" for="chIsCancel">Cancel</label>
                                                        </div>}

                                                    if (Model.IsComplete)
                                                    {
                                                        <div class="col-sm-2">
                                                            <input type="checkbox" id="IsCompletec" onchange="checkvalue()" name="IsCompletec" />
                                                            <label class="control-label" for="chIsComplete">Complete</label>
                                                        </div>}
                                                }

                                                <div class="col-sm-3 ">
                                                    @*<select id="Status" name="Status" class="selectpicker form-control">
                                                            <option value="0">Select Status</option>

                                                            @{

                                                                if (Model.IsApprove)
                                                                {
                                                                    <option value="2">Approve</option>

                                                                }
                                                                if (Model.IsCancel)
                                                                {
                                                                    <option value="4">Cancel</option>

                                                                }
                                                                if (Model.IsComplete)
                                                                {
                                                                    <option value="3">Complete</option>

                                                                }
                                                            }
                                                        </select>*@

                                                </div>
                                                <div class="col-sm-3">

                                                </div>

                                            </div>


                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Forward to: </label>
                                                <div class="col-sm-3 ">


                                                    @Html.DropDownListFor(model => model.NEwForwardTo, Model.LoadForwardDesginationWise(new SAGERPNEW2018.Models.SystemLogin().GetUser().Userid, Convert.ToInt32(new SAGERPNEW2018.Models.SystemLogin().GetUser().ProjectIDs)), new { @class = "form-control selectpicker ", @onchange = "loadCC1()" })

                                                </div>
                                                @{
                                                    if (Model.IsDepartment)
                                                    {
                                                        <div class="col-sm-2 ">

                                                            <input type="checkbox" id="chIsDepartment" name="chIsDepartment" />
                                                            <label class="control-label" for="chIsDepartment">My Department</label>
                                                        </div>
                                                    }


                                                }

                                            </div>




                                                    }
                                    }
                                </div>
                                @{

                                    if (!Convert.ToBoolean(ViewData["Editmode"]))
                                    {<br />
                                    <div class="form-group">


                                        <label class="col-sm-2 control-label">Forward to: </label>
                                        <div class="col-sm-3 ">
                                            @Html.DropDownListFor(model => model.ForwardTo, Model.LoadForwardDesginationWise(new SAGERPNEW2018.Models.SystemLogin().GetUser().Userid, Convert.ToInt32(new SAGERPNEW2018.Models.SystemLogin().GetUser().ProjectIDs)), new { @class = "form-control selectpicker ", @onchange = "loadCC()" })
                                        </div>

                                    </div>
                                    }
                                }

                                <br />
                                <div class="form-group" >
                                    <label class="col-sm-2 control-label">For Info / CC: </label>
                                    <div class="col-sm-9 ">
                                        <select class="selectpicker form-control" id="SelectInfo" name="SelectInfo" multiple>
                                            @{
                                                @*var DataemployeeForinfo = Model.LoadForwardUser(new SAGERPNEW2018.Models.SystemLogin().GetUser().EmployeeID, Convert.ToInt32(new SAGERPNEW2018.Models.SystemLogin().GetUser().ProjectIDs));
                        foreach (var item in DataemployeeForinfo)
                        {
                            <option value="@item.Value"> @item.Text </option>
                        }*@

                                            }
                                        </select>
                                    </div>
                                </div>
                                <div id="ItemsMinuteDoc" class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="docdetail" style="height:auto;overflow-y:auto;">
                                                <h3>Minute Attachment</h3>
                                                <table class="table table-bordered table-striped mb-none table-hover" id="datatable2">
                                                    @*<table style="margin-bottom:0px;" id="datatable2" cellpadding="0" cellspacing="0" border="0" class="datatable table table-hover table-responsive ">*@
                                                    <thead>
                                                        <tr>
                                                            <th>Description</th>
                                                            <th>Attached File</th>
                                                            <th> Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="DocBodyID">
                                                        @{ if (Convert.ToBoolean(ViewData["Editmode"]))
                                                            {
                                                                var host = new UriBuilder(Request.Url.Scheme, Request.Url.Host, Request.Url.Port);
                                                                //  string host = Request.Url.Authority;
                                                                int a = 0;
                                                                foreach (var item in Model.detailistDoc)
                                                                {
                                                                    <tr id="@a">
                                                                        <td class="input"> <input id="Docdescription_@a" type="text" value="@item.Description" class="form-control" name="Docdescription" /> </td>
                                                                        <td>  <a href="@host@item.PathDoc.TrimStart('~')" download="CustomerDoc-@DateTime.Now">View</a> <input type="hidden" value="@item.PathDoc" id="DocFile_@a" name="DocpathFile" /> </td>
                                                                        <td> <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="detailDocDataAdd_@a" value="+" onclick="AddDocumentData($(this).parent().parent().attr('id'), false)" title="Add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button> <button type="button" style="" id="detailDocDataDelete_@a" title="Remove" value="-" onclick="DeleteDocDetailData(this)" class="btn btn-danger  btn-xs btn-circle"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button></td>
                                                                    </tr>
                                                                    a++;
                                                                }
                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Forward</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
    </div>

                                                            }
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    /// ['mode', 'document', 'doctools', 'clipboard', 'undo', 'find', 'selection', 'spellchecker', 'editing', 'forms', 'basicstyles', 'cleanup', 'list', 'indent', 'blocks', 'styles', 'align', 'bidi', 'paragraph', 'links', 'insert', 'colors', 'tools', 'others']
    CKEDITOR.replace('HtmlBox', {
        toolbarGroups: [{ name: 'document', groups: ['clipboard', 'selection', 'spellchecker', 'basicstyles', 'blocks', 'align', 'insert'] }],
        uiColor: '#c5fff0',
        height: 200,
        removePlugins: 'elementspath',
        resize_enabled: false,
        allowedContent: true,
        removeButtons: 'Save,Print,Preview,Find,About',




    });


    function postform() {
        var ReturnValue = true



        $("#myform").validate();





        bootbox.confirm("Are sure to save data!", function (result) {
            if (result) {
                if (ReturnValue) {
                    $("#myform").submit();

                }

            }
        });


    }

    function saveautodata() {


        var editor_data = CKEDITOR.instances['HtmlBox'].getData();
        var url = '@Url.Action("SaveAuto", "Eminute")';
        var data = { Html: editor_data, Remarks: $('#Remarks').val() };
        $.post(url, data, function (result) {

        });
    }

    $(document).ready(function () {
        // $('#Myform :input').select()


        var x = setInterval(function () {
            saveautodata();

            // alert(value)

        }, 10000)

        if ('@ViewData["Editmode"]' == 'True') {



            $('#SelectInfo').selectpicker('val', [@Model.ForInfo]);
            $("#Priority").attr('disabled', 'disabled');
            $("#Type").attr('disabled', 'disabled');
            $("#ForwardTo").attr('disabled', 'disabled');
            $('#Subject').prop('readonly', true);
            $('#HtmlBox').prop('readonly', true);




        }




        $("#MinuteDate").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });



        var DateOfB = '@Model.MinuteDate.Value.Day' + '/' + '@Model.MinuteDate.Value.Month' + '/' + '@Model.MinuteDate.Value.Year';




        $('#MinuteDate').datepicker('setDate', DateOfB);


        $('.selectpicker').selectpicker('refresh');
        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }
        AddDocumentData(0, true)
    });



    function AddDocumentData(ThisRowID, FromDocumentDotReady) {

        var dtProductDetailInfoHtml;
        var totalNullAccountsCount = 0;


        if (FromDocumentDotReady != true) {
            if (document.getElementById("DocFile_" + ThisRowID).value == 0) {
                //message empty
                bootbox.alert("Please Choose Image");
                return false;
            }

        }

        ////TotDetailRowNo
        $("#DocBodyID tr").each(function () {

            if (document.getElementById("DocFile_" + $(this).prop('id')).value == 0) {
                totalNullAccountsCount++;
            }
        });
        if (totalNullAccountsCount < 1) {
            if (FromDocumentDotReady != true) {
                document.getElementById("DocDetailRowNo").value = $('#DocBodyID tr:last').attr('id');
                document.getElementById("DocDetailRowNo").value++;

            }
            else {
                document.getElementById("DocDetailRowNo").value = 0
            }


            dtProductDetailInfoHtml = '';
            dtProductDetailInfoHtml = '<tr id="' + document.getElementById("DocDetailRowNo").value + '">';
            dtProductDetailInfoHtml += '<td class="input"> <input   class="form-control"  id="lisdescription_' + document.getElementById("DocDetailRowNo").value + '"   type="text"  name="lisdescription"    /> </td>';
            dtProductDetailInfoHtml += '<td > @*@Html.TextBoxFor(x => x.File, new { type = "file", multiple = "true" })*@      <input type="file" class="form-control" id="DocFile_' + document.getElementById("DocDetailRowNo").value + '" name="DocFile" />   </td>';
            dtProductDetailInfoHtml += '<td > <button type="button" style="" class="btn btn-info  btn-xs btn-circle" id="detailDocDataAdd_' + document.getElementById("DocDetailRowNo").value +
            '" value="+" onclick="AddDocumentData($(this).parent().parent().attr(\'id\'),false)"  title="Add" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span><strong></strong></span></button> <button type="button" style="" id="detailDocDataDelete_'
            + document.getElementById("DocDetailRowNo").value + '" title="Remove" value="-" onclick="DeleteDocDetailData(this,$(this).parent().parent().attr(\'id\'))"  class="btn btn-danger  btn-xs btn-circle "   ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><span><strong></strong></span></button>  </td>';


            dtProductDetailInfoHtml += '</tr>';
            $("#DocBodyID").append(dtProductDetailInfoHtml);

            document.getElementById("DocImagePath_" + document.getElementById("DocDetailRowNo").value);

        }
    }
    function DeleteDocDetailData(element, rowid) {


        var Next = $(element).parent().parent().next("tr").length;
        var Prev = $(element).parent().parent().prev("tr").length;

        if (parseInt(Next) > 0 || parseInt(Prev) > 0) {
            $(element).parent().parent().remove();
        }
        else {
            $("#DocBodyID tr").remove();
            AddDocumentData(0, true);
        }
    }

    $('#chIsDepartment').click(function () {
        if ($(this).is(':checked')) {
            var Data = { id: 0 }

            $.ajax({
                async: false,
                url: "/EComplain/loadFarwardUser",
                data: Data,
                success: function (data) {

                    if (data != null) {

                        var ForwardTo = $('#NEwForwardTo');
                        ForwardTo.empty();

                        $.each(data,
                            function (index, item) {
                                var datafil = new Option(item.Text, item.Value);
                                ForwardTo.append(datafil);
                            });

                        ForwardTo.selectpicker('refresh');

                        ForwardTo.selectpicker({
                            liveSearch: true,
                            size: 10,

                            // width: 'auto',
                            container: "body"
                        });



                    }
                },
                error: function () {
                    ReturnValue = false;

                }
            })





        } else {



            var Data = { id: 1 }

            $.ajax({
                async: false,
                url: "/EComplain/loadFarwardUser",
                data: Data,
                success: function (data) {

                    if (data != null) {

                        var ForwardTo = $('#NEwForwardTo');
                        ForwardTo.empty();

                        $.each(data,
                            function (index, item) {
                                var datafil = new Option(item.Text, item.Value);
                                ForwardTo.append(datafil);
                            });

                        ForwardTo.selectpicker('refresh');

                        ForwardTo.selectpicker({
                            liveSearch: true,
                            size: 10,

                            // width: 'auto',
                            container: "body"
                        });



                    }
                },
                error: function () {
                    ReturnValue = false;

                }
            })

        }
    });



    function loadCC() {

        var Data = { id: $('#ForwardTo').val() }

        $.ajax({
            async: false,
            url: "/Eminute/loadFarwardUser1",
            data: Data,
            success: function (data) {

                if (data != null) {

                    var SelectInfo = $('#SelectInfo');
                    SelectInfo.empty();

                    $.each(data,
                        function (index, item) {
                            var datafil = new Option(item.Text, item.Value);
                            SelectInfo.append(datafil);
                        });

                    SelectInfo.selectpicker('refresh');

                    SelectInfo.selectpicker({
                        liveSearch: true,
                        size: 10,

                        // width: 'auto',
                        container: "body"
                    });



                }
            },
            error: function () {
                ReturnValue = false;

            }
        })

    }

    function loadCC1() {


        var Data = { id: $('#NEwForwardTo').val() }

        $.ajax({
            async: false,
            url: "/Eminute/loadFarwardUser1",
            data: Data,
            success: function (data) {

                if (data != null) {

                    var SelectInfo = $('#SelectInfo');
                    SelectInfo.empty();

                    $.each(data,
                        function (index, item) {
                            var datafil = new Option(item.Text, item.Value);
                            SelectInfo.append(datafil);
                        });

                    SelectInfo.selectpicker('refresh');

                    SelectInfo.selectpicker({
                        liveSearch: true,
                        size: 10,

                        // width: 'auto',
                        container: "body"
                    });



                }
            },
            error: function () {
                ReturnValue = false;

            }
        })

    }
    function LoadForwardEmploye() {
        debugger


    }

</script>


