﻿@model HRandPayrollSystemModel.DBModel.tblProjectService

@{
    ViewBag.Title = "Add Service";
}




@using (@Html.BeginForm("SaveService", "Service", FormMethod.Post, new { @id = "myform", enctype = "multipart/form-data" }))
{
    

    <header class="page-header">
        <h2>@ViewBag.Title</h2>


        <div class="right-wrapper pull-right">

            <ol class="breadcrumbs">


                <li>
                    <a href="~/home/index">
                        <i class="fa fa-home" style="color:chartreuse;"></i>

                    </a>
                </li>
                <li>
                    <a style="color:chartreuse" href="/Eminute//create">
                        Create E-Minute      @*<i class="fa fa-home"></i>*@
                    </a>
                </li>
                <li>
                    <a style="color:chartreuse" href="/Eminute//AllMinutesReport">
                        Report      @*<i class="fa fa-home"></i>*@
                    </a>
                </li>
                <li>
                    <a href="#" onclick="showInstruction()" style="color: chartreuse;">
                        <i class="fa fa-info-circle"></i>      E-Minute Guideline
                    </a>
                </li>



            </ol>

        

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>


    <div class="panel">
        <!-- start: page -->


        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Service_ID)

                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title"> @ViewBag.Title</h2>
                        <p class="panel-subtitle">
                            Form control for input @ViewBag.Title .
                        </p>
                    </header>
                    <div class="panel-body">

                        <br />

                        @Html.HiddenFor(model => model.Service_ID)
                        <div class="form-group">






                            <div class="row">



                                <label class="col-sm-1 control-label"><strong> Service:</strong> </label>
                                <div class="col-md-12 ">

                                    @Html.TextAreaFor(model => model.ServiceDetail, new { @class = "form-control ", @required = "required", })



                                </div>



                               




                            </div>



                           
                            <br />
                            <br />



                        </div>


                    </div>
                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" onclick="postform()" class="btn btn-primary">Save</button>
                                <button type="button" id="cancelll" class="btn btn-default" onclick="window.history.back()">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </section>

            </div>

        </div>

    </div>

}





<script>

    $(document).ready(function () {
        var DateofP = '01' + '/' + new Date().getMonth() + '/' + new Date().getFullYear();

        $('#FromDate').datepicker('setDate', DateofP);
        $("#ToDate").datepicker({
            format: "dd-M-yyyy",
            autoclose: true,
            todayBtn: true,


        });
        $('#FromDate').datepicker('setDate', new Date());
        $('#ToDate').datepicker('setDate', new Date());


    })






    function postform() {
        debugger;
        var ReturnValue = true

        $("#myform").validate();

        var Data = { Name: $('#ServiceDetail').val().trim(), ID: $("#Service_ID").val() }
        $.ajax({
            async: false,
            url: "/Service/Duplicate",
            data: Data,
            success: function (data) {

                var c = JSON.parse(data);
                if (c != "") {
                    bootbox.alert(c)
                    ReturnValue = false;
                }
            },
            error: function () {
                ReturnValue = false;
                bootbox.alert("Error")
            }
        })



        if (ReturnValue) {
            $("#myform").submit();

        }

    }
    $(document).ready(function () {
       // $('#Myform :input').select()




        $('.selectpicker').selectpicker('selectAll');

        if ('@Model.IsView' == 'True') {
            $('#myform :input').attr('disabled', true);
            $('#cancelll').attr('disabled', false);

        }


    });

    function loadDepartments() {

        var Department = $('#DepartmentID');
        Department.empty();
        var Data = { id: $('#ProjectID').val() }
        $.ajax({
            async: false,
            url: "/Designation/loadDepartments",
            data: Data,
            success: function (data) {


                var Department = $('#DepartmentID');
                Department.empty();

               // alert(data);
                $.each(data,
                    function (index, item) {
                        var datafil = new Option(item.Text, item.Value);
                        Department.append(datafil);
                    });


                Department.selectpicker({
                    liveSearch: true,
                    size: 10,

                    // width: 'auto',
                    container: "body"
                });

                Department.selectpicker('refresh');


            },
            error: function () {
                ReturnValue = false;
                //alert("Error")
            }
        })

    }



</script>



